# Day 2

Understanding concepts agenda:
    1. Encoding Categorical data

# 1. Encoding Categorical Data

What---- Categorical data is not fed into the machine learning model directly and thus it is assigned some dummy values. This is called the process of encoding.

Why---- There are two primary reasons-- 
    1. If there are categories in dataset say yes/no then there may be instances where one category has more weight in predicting the output than the other. If the variables are categorical you cannot add weights in the dataset even if you know that one variable has more predictive capabilities than the other. Moreover categorical values cannot be used in the mathematical equations which are the skeletons for the machine learning models.
   2 . All variables become of same type which reduces hassles when dealing with the machine learning model in the future stages. Also remember that the machine learning models are designes such that the input and output both are numerical data. categorical data cannot be interpreted by machines.

How---  To encode the categorical variables we need to first identify which variables are categorical and which are continuous inside our dataset. 

Categorical variables have less number of unique values in the column whereas continuous variables have many unque values.

In sklearn.preprocessing library there is a class Encoder() which helps in encoding the categorical variables.

When-- Encoding of categorical variable is generally done in data preprocessing stage itself.

Learning path-- we will import a dataset-- identify the categorical variables in it and then encode the categorical variables.

Concept to be understood:

Categorical variables are of three types -- ordinal(can be ranked), nominal(cannot be ranked) and boolean(two values- say yes/no).

There are three main methods of encoding:

    1. Label Encoding-- done for ordinal datasets -- every class of the categorical variable column is assigned a number starting from 0-- disadvantage: since the encoding starts from 0 there is an issue of priority even though the variables have equal weightage.
    
    
    2. One Hot Encoding--done for nominal datasets(where rank has no value)-- integers assigned in label encoding method are converted into binary variable array-- wach bit of the array represents a category-- requires label encoding to be done first.. suppose label encoder assigned  female-1 and male -0, one hot encoding assigns female- [0,1], male- [1,0]-- disadvantage: problem of redundancy-- if one is 1,0 the other automatically becomes 0 1 and thus we lose some efficiency there.
    
    
    3. Dummy Variable Encoding-- problem of redundancy is removed in dummy variable code encoding as it assigns one of the categories as [0,0].. so if there are n categories there are only n-1 dummy variables created as one of the categories is set to 0,0

# Importing the dataset

Dataset source: https://www.kaggle.com/datasets/aryanfelix/bangalore-housing-prices

In [60]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [61]:
ds=pd.read_csv('C:/Users/Shantanu/Documents/DataScience_Projects/100 Days of code challenge/Day2/housing price ds/BHP.csv')

In [62]:
ds.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [63]:
ds.shape

(13320, 9)

In [64]:
ds.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [65]:
ds_clean1= ds.dropna()

In [66]:
ds_clean1.isnull().sum()

area_type       0
availability    0
location        0
size            0
society         0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

# Identification of categorical variables

In [67]:
ds_clean1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7496 entries, 0 to 13318
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     7496 non-null   object
 1   availability  7496 non-null   object
 2   location      7496 non-null   object
 3   size          7496 non-null   object
 4   society       7496 non-null   object
 5   total_sqft    7496 non-null   object
 6   bath          7496 non-null   float64
 7   balcony       7496 non-null   float64
 8   price         7496 non-null   float64
dtypes: float64(3), object(6)
memory usage: 585.6+ KB

In [68]:
ds_clean1['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '3 Bedroom', '1 RK', '4 BHK',
       '1 BHK', '5 BHK', '11 BHK', '5 Bedroom', '9 BHK', '2 Bedroom',
       '6 BHK', '7 BHK', '6 Bedroom'], dtype=object)

In [69]:
for i in ds_clean1.columns:
    print(ds_clean1[i].value_counts())
    
#i is iterating over individual columns

Super built-up  Area    6017
Built-up  Area          1158
Plot  Area               269
Carpet  Area              52
Name: area_type, dtype: int64
Ready To Move    5709
18-Dec            180
18-May            171
19-Dec            157
18-Apr            148
                 ...
20-Feb              1
15-Jun              1
20-Mar              1
16-Mar              1
14-Jul              1
Name: availability, Length: 74, dtype: int64
Whitefield         397
Sarjapur  Road     310
Electronic City    236
Kanakpura Road     216
Thanisandra        212
                  ...
Adarsh Nagar         1
S R Layout           1
Sadduguntepalya      1
BCC Layout           1
Abshot Layout        1
Name: location, Length: 634, dtype: int64
2 BHK        3411
3 BHK        3012
1 BHK         353
4 BHK         347
4 Bedroom     193
3 Bedroom     120
5 Bedroom      16
2 Bedroom      16
1 RK           10
5 BHK           9
6 BHK           3
6 Bedroom       3
11 BHK          1
9 BHK           1
7 BHK           1
Name: size, dtype: int64
GrrvaGr    80
PrarePa    71
Sryalan    59
Prtates    58
GMown E    56
           ..
SLnorMa     1
Heatee      1
Nihtsur     1
TGjraVa     1
RSntsAp     1
Name: society, Length: 2592, dtype: int64
1200           172
1100           106
1000            78
1500            74
1300            71
              ...
2383             1
1103             1
1145 - 1340      1
3080             1
4689             1
Name: total_sqft, Length: 1682, dtype: int64
2.0    4283
3.0    2063
4.0     458
1.0     428
5.0     184
6.0      73
7.0       4
9.0       3
Name: bath, dtype: int64
2.0    3114
1.0    2975
3.0    1005
0.0     402
Name: balcony, dtype: int64
75.00     182
65.00     171
55.00     157
60.00     154
45.00     148
         ...
34.98       1
54.11       1
67.90       1
62.30       1
488.00      1
Name: price, Length: 1518, dtype: int64

We have to clean the size data as it has 2 bedroom and 2bhk sperately but im not going into fixing that as encoding is our focus

Continuous- price, totalsqft ||||||||||||||||||||||
    Categorical dont need encoding- bath(already float), balcony(already float) |||||||||||||
        Categorical need encoding-society,size,location,availability,area_type

# Encoding categorical variables

In [37]:
from sklearn.preprocessing import LabelEncoder

In [39]:
encoder=LabelEncoder()

In [85]:
ds_t=ds_clean1

In [ ]:
#pd.options.mode.chained_assignment = None                             # default='warn' #To remove the copy slice warning

In [89]:
ds_t['size']=encoder.fit_transform(ds_t['size'])

In [90]:
ds_t.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,3,3,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,8,8,2600,5.0,3.0,120.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,5,5,1521,3.0,1.0,95.00
5,Super built-up Area,Ready To Move,Whitefield,3,3,1170,2.0,1.0,38.00
11,Plot Area,Ready To Move,Whitefield,8,8,2785,5.0,3.0,295.00

In [92]:
ds_t['society']=encoder.fit_transform(ds_t['society'])

In [93]:
ds_t['area_type']=encoder.fit_transform(ds_t['area_type'])

In [94]:
ds_t['availability']=encoder.fit_transform(ds_t['availability'])

In [95]:
ds_t['location']=encoder.fit_transform(ds_t['location'])

In [96]:
ds_t.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,3,35,210,3,3,1056,2.0,1.0,39.07
1,2,73,149,8,8,2600,5.0,3.0,120.00
3,3,73,387,5,5,1521,3.0,1.0,95.00
5,3,73,625,3,3,1170,2.0,1.0,38.00
11,2,73,625,8,8,2785,5.0,3.0,295.00

As you can see all the categorical variables are now in numeric Label encoded form